---
import UserLoged from '../components/UserLoged.astro';
---

<header class="relative bg-gradient-to-br from-green-400 to-green-600">
    <nav class="flex justify-between items-center h-[9rem] w-full px-16">
        <div class="flex items-center">
            <a href="/" class="text-white text-lg font-medium hover:text-green-200 transition-colors">ALL TOURS</a>
        </div>

        <div class="absolute left-1/2 top-8 -translate-x-1/2">
            <img src="/img/logo-white.png" alt="Fita a Fita logo" class="h-16" />
        </div>

        <UserLoged server:defer />
    </nav>
</header>
