---
import '../styles/global.css';
import Footer from './Footer.astro';
import Header from './Header.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Fita a Fita</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
