---
import Tours from '../components/Tours.astro';
import Layout from '../layouts/Layout.astro';
import { getBackendUrl } from '../utils/env';
---

<Layout>
    <main class="py-16 px-8">
        <Tours server:defer url={getBackendUrl() + '/'} />
    </main>
</Layout>
